<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Poll Please</title>
		<link rel="stylesheet" href="/public/assets/style.css" type="text/css" />
	</head>

	<body>
		<h1>Are you undecisive? Do you need help making a decision?</h1>
		<p>
			Poll Please allows you to add your options, share the link and let your
			friends help make the decision for you.
		</p>

		<!-- CREATE: make form to create poll options -->
		<form action="/options" method="POST">
			<input type="text" placeholder="Item Description" name="description" />
			<input type="url" placeholder="Item Link" name="link" />
			<button type="submit">Submit</button>
		</form>

		<!-- READ: show poll options -->
		<h2 class="poll-options">Poll Options</h2>
		<ol class="options">
			<!-- Loop through poll options -->
			<% for(var i = 0; i < options.length; i++) {%>
			<li class="option">
				<!-- Output description from the iterated poll option object -->
				<span><%= options[i].description %></span>:
				<!-- Output link from the iterated poll option object -->
				<span><%= options[i].link %></span>
				<button type="delete-button">Delete</button>
			</li>
			<% } %>
		</ol>

		<!-- CREATE: make selection -->
		<h2 class="make-selection">Make Your Selection</h2>
		<form action="/selections" method="POST">
			<input type="text" placeholder="Select A Number" name="selection" />
			<button>Submit</button>
		</form>

		<!-- READ: show poll results -->
		<h2 class="poll-results">Poll Results</h2>
		<ul class="selections">
			<!-- Loop through poll options -->
			<% for(var i = 0; i < options.length; i++) {%>
			<li class="selection">
				<!-- Output description from the iterated poll option object -->
				<span><%= options[i].description %></span>: 1
				<!-- Add instances of how many times that option was selected -->
				<span class="selectionInstances"></span>
			</li>
			<% } %>
		</ul>

		<footer>
			Coded with 🤍 by <a href="https://github.com/jasminepvo">Jasmine</a>
		</footer>

		<!-- UPDATE: update result of the poll -->

		<script src="/main.js"></script>
	</body>
</html>
