<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Poll Please</title>
	</head>

	<body>
		<h1>Are you undecisive? Do you need help making a decision?</h1>
		<p>
			Poll Please allows you to add your options, share the link and let your
			friends help you.
		</p>

		<form action="/quotes" method="POST">
			<input type="text" placeholder="Quick Description" name="description" />
			<input type="url" placeholder="Add Link" name="link" />
			<button type="submit">Submit</button>
			<button type="delete-button">Delete</button>
		</form>

		<h2>Poll Options</h2>
		<!-- Loop through poll options -->
		<ul class="options">
			<% for(var i = 0; i < quotes.length; i++) {%>
			<li class="quote">
				<!-- Output name from the iterated quote object -->
				<span><%= quotes[i].name %></span>:
				<!-- Output quote from the iterated quote object -->
				<span><%= quotes[i].quote %></span>
				<span>vote</span>
			</li>
			<% } %>
		</ul>

		<script src="/main.js"></script>
	</body>
</html>
